/* ======== CABEÇALHO ======== */

.naipe-header {
    margin-left: 280px;   /* espaço por causa do sidebar */
    padding: 40px 20px 10px;
}

.naipe-header h1 {
    color: #000000;
    font-size: 2.3rem;
    font-weight: bold;
}

/* ======== CONTAINER ======== */

.table-container {
    margin-left: 280px;   /* sidebar */
    padding: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #121212;
    color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.35);
}

/* ======== CABEÇALHO DA TABELA ======== */

.styled-table thead tr {
    background-color: #020005; /* roxo do sistema */
    color: #ffffff;
    text-align: left;
    font-size: 1.1rem;
}

.styled-table th {
    padding: 14px 16px;
}

/* ======== LINHAS ======== */

.styled-table td {
    padding: 14px 16px;
    font-size: 1rem;
    border-bottom: 1px solid #1e1e1e;
}

.styled-table tbody tr:hover {
    background-color: #1f1f1f;
    transition: 0.2s;
}

.styled-table tbody tr:last-child td {
    border-bottom: none;
}

/* ======== LINHA VAZIA ======== */
.empty {
    text-align: center;
    padding: 25px;
    color: #bbbbbb;
}
