.cadastro-box {
    background: rgba(0,0,0,0.6);
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    border: 3px solid #6A0DAD;
    color: white;
}

.titulo {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-submit {
    background: cyan;
    padding: 12px 40px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #00bcd4;
}
